<app-alternar-forms></app-alternar-forms>
<div class="container">
    <h3 class="text-center">Actualizar Cuenta</h3>
    <form class="mt-4" (ngSubmit)="buscarPorCorreo()" method="post">
        <div class="mb-3">
            <label for="correoActualizar" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" [(ngModel)]="usuario.correo" name="correo" id="correoActualizar" placeholder="Introduce tu correo electrónico" required>
        </div>
        <div class="mb-3">
            <label for="nombreActualizar" class="form-label">Nuevo Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre" id="nombreActualizar" placeholder="Introduce tu nuevo nombre">
        </div>
        <div class="mb-3">
            <label for="apellidosActualizar" class="form-label">Nuevos Apellidos</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.apellidos" name="apellidos" id="apellidosActualizar" placeholder="Introduce tus nuevos apellidos">
        </div>
        <div class="mb-3">
            <label for="direccionActualizar" class="form-label">Nueva Dirección</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.direccion" name="direccion" id="direccionActualizar" placeholder="Introduce tu nueva dirección">
        </div>
        <div class="mb-3">
            <label for="contrasenaActualizar" class="form-label">Nueva Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="usuario.contrasena" name="contrasena" id="contrasenaActualizar" placeholder="Introduce tu nueva contraseña">
        </div>
        <div class="mb-3">
            <label for="rolRegistro" class="form-label">Rol</label>
            <select class="form-control" [(ngModel)]="usuario.rol" id="rolRegistro" name="rol" required>
                <option value="Usuario">Usuario</option>
               
            </select>
        </div>
        <button type="submit" class="btn btn-warning w-100">Actualizar Información</button>
    </form>
</div>
